.idea
.DS_Store
*.pyc
logs/*
!logs
unittests.cfg
graph.gpickle
airflow-webserver.pid
airflow.db
__pycache__
{AIRFLOW_HOME}/*
.vscode/*
venv/*
venv.sh
.venv.sh
airflow.bak.cfg
token.json
credentials.json
Heroku.md
away-secret.key
standalone_admin_password.txt
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
