option_settings:
  - option_name:  "AIRFLOW_EXECUTOR"
    value:  "CeleryExecutor"
  - option_name:  "AIRFLOW_HOME"
    value:  "/var/app/current"
  - option_name:  "AIRFLOW_VERSION"
    value:  "2.2.0"
  - option_name:  "DATABASE_HOST"
    value:  "ec2-52-214-125-106.eu-west-1.compute.amazonaws.com"
  - option_name:  "DATABASE_NAME"
    value:  "dbk1muelf0ebmu"
  - option_name:  "DATABASE_PORT"
    value:  "5432"
  - option_name:  "DATABASE_USERNAME"
    value:  "ekoifmicthbhkp"
  - option_name:  "DATABASE_PASSWORD"
    value:  ""
  - option_name:  "REDIS_URL"
    value:  "redis://:p8d4173e16c0e574fbe6b04d8b2fdde9e03b7a6cc0f36bacc5cf69265935f0b7b@ec2-34-249-192-190.eu-west-1.compute.amazonaws.com:18330"
  - option_name:  "TEST1"
    value:  ""
  - option_name:  "TEST2"
    value:  ""
  - option_name:  "TEST3"
    value:  ""
  - option_name:  "TEST4"
    value:  ""
  - option_name:  "TEST5"
    value:  ""
  - option_name:  "TEST6"
    value:  ""
  - option_name:  "TEST7"
    value:  ""
  - option_name:  "TEST8"
    value:  ""
  - option_name:  "TEST9"
    value:  ""
  - option_name:  "TEST10"
    value:  ""
  - option_name:  "TEST11"
    value:  ""
  - option_name:  "TEST12"
    value:  ""
  - option_name:  "TEST13"
    value:  ""
  - option_name:  "TEST14"
    value:  ""
  - option_name:  "TEST15"
    value:  ""
  - option_name:  "TEST16"
    value:  ""
  - option_name:  "TEST17"
    value:  ""
  - option_name:  "TEST18"
    value:  ""
  - option_name:  "TEST19"
    value:  ""
  - option_name:  "TEST20"
    value:  ""
  - option_name:  "TEST21"
    value:  ""
  - option_name:  "TEST22"
    value:  ""
  - option_name:  "TEST23"
    value:  ""
  - option_name:  "TEST24"
    value:  ""
  - option_name:  "TEST25"
    value:  ""
  - option_name:  "TEST26"
    value:  ""
  - option_name:  "TEST27"
    value:  ""
  - option_name:  "TEST28"
    value:  ""
  - option_name:  "TEST29"
    value:  ""
  - option_name:  "TEST30"
    value:  ""
  - option_name:  "TEST31"
    value:  ""
  - option_name:  "TEST32"
    value:  ""
  - option_name:  "TEST33"
    value:  ""
  - option_name:  "TEST34"
    value:  ""
  - option_name:  "TEST35"
    value:  ""
  - option_name:  "TEST36"
    value:  ""
  - option_name:  "TEST37"
    value:  ""
  - option_name:  "TEST38"
    value:  ""
  - option_name:  "TEST39"
    value:  ""
  - option_name:  "TEST40"
    value:  ""
  - option_name:  "TEST41"
    value:  ""
  - option_name:  "TEST42"
    value:  ""
  - option_name:  "TEST43"
    value:  ""
  - option_name:  "TEST44"
    value:  ""
  - option_name:  "TEST45"
    value:  ""
  - option_name:  "TEST46"
    value:  ""
  - option_name:  "TEST47"
    value:  ""
  - option_name:  "TEST48"
    value:  ""
  - option_name:  "TEST49"
    value:  ""
  - option_name:  "TEST50"
    value:  ""
  - option_name:  "TEST51"
    value:  ""
