option_settings:
  - option_name:  "AIRFLOW_EXECUTOR"
    value:  "CeleryExecutor"
  - option_name:  "AIRFLOW_HOME"
    value:  "/var/app/current"
  - option_name:  "AIRFLOW_VERSION"
    value:  "2.2.0"
  - option_name:  "DATABASE_HOST"
    value:  "ec2-52-214-125-106.eu-west-1.compute.amazonaws.com"
  - option_name:  "DATABASE_NAME"
    value:  "dbk1muelf0ebmu"
  - option_name:  "DATABASE_PORT"
    value:  "5432"
  - option_name:  "DATABASE_USERNAME"
    value:  "ekoifmicthbhkp"
  - option_name:  "DATABASE_PASSWORD"
    value:  ""
  - option_name:  "REDIS_URL"
    value:  "redis://:p8d4173e16c0e574fbe6b04d8b2fdde9e03b7a6cc0f36bacc5cf69265935f0b7b@ec2-34-249-192-190.eu-west-1.compute.amazonaws.com:18330"
