option_settings:
  - option_name:  "AIRFLOW_EXECUTOR"
    value:  "CeleryExecutor"
  - option_name:  "AIRFLOW_HOME"
    value:  "/var/app/current"
  - option_name:  "AIRFLOW_VERSION"
    value:  "2.2.0"
  - option_name:  "DATABASE_HOST"
    value:  "ornmygbsdkyevo:1f0f281b937f28c3a75c6352449958ced1657eeb34be89adef9cb6a7cc178ddd@ec2-44-194-113-156.compute-1.amazonaws.com"
  - option_name:  "DATABASE_NAME"
    value:  "d6tae6iq5ifkdn"
  - option_name:  "DATABASE_PORT"
    value:  "5432"
  - option_name:  "DATABASE_USERNAME"
    value:  "ornmygbsdkyevo"
  - option_name:  "DATABASE_PAWWSORD"
    value:  ""
